body {
  margin: 10px auto 160px auto;
  max-width: 750px;
  line-height: 1.55;
  font-family: 'Inconsolata', monospace;
  background: #eeeeee;
  color: #111111;
  padding: 0 30px;
}

h1 {
    background: #ffff55;
    display: inline-block;
}

h1, h2, h3 {
    font-weight: bold;
    margin-bottom: 0.25em;
}

h4, h5, h6 {
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
    a {
        text-decoration: none;

        &:hover {
            color: initial;
            background-color: initial;
            text-decoration: underline;
        }
    }
}

section {
    margin: 2rem 0;

    section {
        margin: 1rem 0;
    }

    ul {
        &.unstyled {
            list-style: none;
            padding-left: 0;
        }

        &.compact {
            margin-top: 0;
        }

        li:has(time) {
            margin-bottom: 0.6rem;
        }
    }
}

a {
    text-decoration: underline;
    color: #111111;
    padding: 0px 4px 2px 4px;
    border-radius: 4px;

    &:hover {
        color: #eeeeee;
        background: #111111;
    }
}

time {
    font-size: 0.9em;
    background: #aaffaa;

    &.update {
        background: #a8d8f8;
    }
}

.category {
    background: #ffaaaa;
}

h1, time, .category {
    border-style: solid;
    border-width: 2px;
    border-color: #111111;
    border-radius: 4px;
    padding: 0 0.2em;
}

pre:has(code) {
    position: relative; /* copy-button */
    padding: 0rem 1rem 1rem 1rem;
    background-color: #dddddd;
    border: 2px solid #111111;
    border-radius: 4px;

    .copy-button {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }
}

code:not(pre code) {
    font-size: 1.2em;
    padding: 0.08rem 0.26rem;
    background-color: #dddddd;
    border: 2px solid #111111;
    border-radius: 4px;
}

blockquote {
    margin-left: 0;
    border-left: 2px solid #111111;
    border-radius: 4px;
    padding: 1rem 1rem 0.2rem 1rem;
    background: #dedede;
}

img {
    max-width: calc(100% - 8px);
    border: 4px solid #111111;
    border-radius: 4px;
}

table {
    border-collapse: collapse;

    td, th {
        padding: 0.3em;
        border: 1px solid #111111;

        &.left { text-align: left; }
        &.right { text-align: right; }
        &.center { text-align: center; }
    }
}
