@font-face {font-family: "VictorMono"; src: url("./fonts/VictorMono-SemiBold.woff"); font-display: swap;}

* {font-family: "VictorMono", "Courier New"; text-decoration: none;}

h1 {margin-bottom: 0;}
h2 {margin-bottom: -5px;}
body {margin-left: 30px;}
img {margin-left: -30px; max-width: calc(100vw - 15px); width:900px;}

p, ul {font-size: 14px;}

/*a {color: #000000; text-decoration: none; color: #000000; background-color: #EEEEEE;}*/
a {color: #000000; text-decoration: none;}
a:hover {background-color: #000000; color: #FFFFFF;}
main a {background-color: #DDDDDD;}
main a:before {content: "[";}
main a:after {content: "]";}
main a[target="_blank"]:before {content: "{";}
main a[target="_blank"]:after {content: "}";}

ul {padding-left: 18px;}

main {max-width: 625px; clear:both;}

pre {overflow: auto; background-color: #EFEFEF; font-size:86%; padding:0px 10px 0px 10px; margin-bottom:30px;}
