@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;600&display=swap');

* {
  font-family: 'Karla', sans-serif;
}

body {
  background: #232333;
  color: #dfdfdf;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #aaaaff;
  font-weight: bold;
}

@media screen and (min-width: 601px) {
  body {
    width: 60%;
  }
  
  p {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 90%;
  }
  
  p {
    font-size: 22px;
  }
}

h1 {
  font-weight: 600;
}

table, td, th {
  border: 1px dashed #dfdfdf;
  width: 33%;
}

td {
  padding-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

hr {
  border-color: #575766;
}

#social {
  margin-top: -20px;
  font-size: 14px;
}

#projects-blog h2 {
  margin-bottom: 2px;
}

.note {
  margin-top: 5px;
  color: #797988;
  text-align: right;
  font-size: 14px;
}

.list {
  max-width: 55%;
  margin-top: -10px;
  padding: 0;
  list-style-position: outside;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

