<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html' %}
        <meta name="robots" content="noindex">
        <title>404</title>
    </head>
    <body>
        {% include 'header.html' %}

        <main>
            <pre><code>
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░▒▓████████▓▒░▒▓███████▓▒░░▒▓███████▓▒░░░▒▓██████▓▒░░▒▓███████▓▒░░░
░▒▓█▓▒░░░░░░░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░░
░▒▓█▓▒░░░░░░░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░░
░▒▓██████▓▒░░░▒▓███████▓▒░░▒▓███████▓▒░░▒▓█▓▒░░▒▓█▓▒░▒▓███████▓▒░░░
░▒▓█▓▒░░░░░░░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░░
░▒▓█▓▒░░░░░░░░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░░
░▒▓████████▓▒░▒▓█▓▒░░▒▓█▓▒░▒▓█▓▒░░▒▓█▓▒░░▒▓██████▓▒░░▒▓█▓▒░░▒▓█▓▒░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
</code></pre>

            <p><i>Are you lost, traveler?</i></p>

            <p><i>
                Take a peek over the edge, come on, I know you want to.<br>
                Look into the infinity of nothingness.<br>
                Accept reality for what it is, but what is it?
            </i></p>

            <br>

            <p><i>
                Lost, confounded, confused. Find your way back to what's familiar; you crave certainty and comfort.
            </i></p>
        </main>

        <br>
    </body>
</html>