<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html' %}
        <title>{{ page.title }}</title>
    </head>
    <body>
        {% include 'header.html' %}

        <main>
            {% if not page.extra.hide_title %}
                <h2>{{ page.title }}</h2>
            {% endif %}

            {% if page.date %}
                <p><span class="block green">{{ page.date }}</span></p>
            {% endif %}

            {{ page.content | safe }}
        </main>

        <br>

        {% include 'footer.html' %}
    </body>
</html>
